.notice.warning 
  %h2 For some unknown reason, that page can't be found. Sorry about that!

%h3 
  Want to go back to the homepage?
  = link_to "Visit Homepage", '/'
  
%p.debug.hidden
  The page we tried to get for you is called:
